<!-- wp:template-part {"slug":"header","theme":"physiotherapy-clinic","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:heading {"fontSize":"huge"} -->
<h2 class="has-huge-font-size">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"content-heading"} -->
<p class="has-content-heading-font-size"><strong>Unfortunately we can’t find that page.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The page you are looking for doesn't exist or has been moved. Try another url or go to the site homepage</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"physiotherapy-clinic","tagName":"footer"} /-->