<!-- wp:template-part {"slug":"header","theme":"physiotherapy-clinic","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:60px;padding-bottom:60px"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:cover {"overlayColor":"accent","minHeight":180,"isDark":false} -->
<div class="wp-block-cover is-light" style="min-height:180px"><span aria-hidden="true" class="wp-block-cover__background has-accent-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:query-title {"type":"search","textAlign":"center","textColor":"background"} /-->

<!-- wp:search {"label":"","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","align":"center","backgroundColor":"fourground","textColor":"primary"} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","backgroundColor":"fourground","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-fourground-background-color has-background"><!-- wp:query {"align":"wide"} -->
<div class="wp-block-query alignwide"></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"physiotherapy-clinic","tagName":"footer"} /-->